.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/.htaccess

/application/config/database.php

iapt2.sublime-workspace

iapt2.sublime-project
